<div class="flex flex-wrap">
  <!-- Sección Izquierda -->
  <div class="w-full md:w-3/5 p-4">
    <!-- Título y logo -->
    <div class="flex flex-col sm:flex-row items-center h-auto">
      <div class="w-[150px] h-[150px] sm:w-[200px] sm:h-[200px]">
        <a href="/home">
          <img src="icons/Logo-Vitalia.svg" alt="Home Icon" class="w-full h-full object-contain" />
        </a>
      </div>
      <div class="mt-4 sm:mt-0 sm:ml-[-20px] text-center sm:text-left">
        <h1 class="text-[30px] sm:text-[35px] md:text-[45px] font-bold text-[#0400ff]">VITALIA</h1>
      </div>
    </div>

    <!-- Afiliación -->
<div class="mt-6 ml-4 flex items-center justify-start gap-4 w-[90%] sm:w-[60%] rounded-full bg-white border border-black/40 p-2 relative">
  <img src="icons/vinculacion.png" alt="Icono" class="w-[40px] h-[40px]" />
  <p class="text-[18px] sm:text-[20px]">Afíliate ahora</p>
  <img src="icons/flecha.png" alt="Flecha" class="w-[35px] h-[35px] text-[#0400ff] ml-auto" />
</div>

    <!-- Información -->
    <div class="mt-6 mx-auto w-[90%]">
      <h1 class="text-[30px] sm:text-[40px] md:text-[60px] lg:text-[70px] xl:text-[80px] font-bold mt-5 leading-tight">La Salud es Nuestra Prioridad</h1>
      <div class="mt-4 w-full md:w-[80%]">
        <p class="text-[16px] sm:text-[20px] md:text-[24px] lg:text-[25px]">
          Somos una empresa comprometida para brindar la mejor experiencia al usuario, velando por su salud y por la calidad de atención. Nos comprometemos a brindarte la mejor atención y experiencia.
        </p>
      </div>
    </div>

    <!-- Botones -->
    <div class="mt-10 ml-4 flex flex-col sm:flex-row sm:flex-wrap gap-4 sm:gap-6 justify-center sm:justify-start">
      <a routerLink="/auth/login" class="bg-[#0400ff] w-full sm:w-[180px] h-[60px] text-white rounded-[20px] text-[20px] text-center flex items-center justify-center hover:bg-[#029eff] border border-transparent hover:border-black/40 transition">Ingresar</a>
      <a routerLink="/auth/register" class="bg-[#0400ff] w-full sm:w-[180px] h-[60px] text-white rounded-[20px] text-[20px] text-center flex items-center justify-center hover:bg-[#029eff] border border-transparent hover:border-black/40 transition">Registrar</a>
    </div>
  </div>

  <!-- Sección Derecha -->
  <div class="w-full md:w-2/5 mt-10 md:mt-[60px] p-4 flex justify-center">
    <div class="w-full sm:w-[80%]">
      <img src="images/pexels-shvets-production-8899568.jpg" alt="Imagen" class="rounded-[30px] sm:rounded-[50px] w-full h-auto object-contain brightness-110" />
    </div>
  </div>
</div>

